
# HTID:15536704: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:15536704:
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html [L]

# HTID:18222436: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
allow from 1.1.1.1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:18222436:

# HTID:18222443: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
allow from 1.2.3.3
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:18222443:
